/* Start Component style*/

@import "variables";

#start-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;

  //"How much do you love Love Actually, actually?
  h2#start-title {
    line-height: 1.1;
    margin: 0;
    padding: 0;
  }
  // "ten questions, randmoly chosen, etc..."
  h3#start-sub-titles {
    padding: 0;
    margin: 2em 0 2em 0;
  }

  h5#warning {
    color: $ribbon-gradient-end;
    margin: 0.75em 0 0 0;
    //font-size: 0.85em;
    //@media screen and (max-width: 425px) {
    //  font-size: 0.9em;
    //}
  }

  @media screen and (max-width: 425px) {
    padding: 1em;
    font-size: 1.25rem;
  }

  @media screen and (max-width: 375px) {
    font-size: 1.15rem;
  }

  @media screen and (max-width: 325px) {
    font-size: 1rem;
  }
}
