$red: #f90202; //rgb(249, 2, 2)
$off-black: #230006;
$off-white: #f9f9f9;

$ribbon-gradient-start: #7d0c16; // rgb(125, 12, 22)
$ribbon-gradient-middle: #b9081d; // rgb(185, 8, 29)
$ribbon-gradient-end: #7c1219; // rgb(124, 18, 25)

$ribbon-border-width: 15px;
$ribbon-border-width-mobile: 10px;
